.marchandise-num {
  color: #4fc3f7;
}

.marchandise-num-high {
  color: #1a1a1a;
  text-decoration: underline;
}

.marchandise-prod {
  color: #b3e5fc;
}

.marchandise-prod-high {
  color: #81d4fa;
}

.marchandise-total-high {
  color: #1a1a1a;
}
.grouped-marchandise-cell { text-align: left; white-space: nowrap; vertical-align: top; }
